.results-container {
    width: 80%;
    max-width: 900px;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


button.movie-card,
button.movie-card:hover,
button.movie-card:focus,
button.movie-card:active {
    border: none;
    outline: none;
}


/* Individual card */
.movie-card {
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

/* Hover effect
.movie-card:hover {
    background-color: #f8f9fa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
} */

/* Inner content */
.movie-card div {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

/* Title */
.movie-card div h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: #585858;
    text-transform: none;
    letter-spacing: normal;
}

/* Year */
.movie-card div p {
    font-size: 0.85rem;
    font-weight: 400;
    margin: 0;
    color: #585858;
    text-transform: none;
}

.poster { 
    height: 85vh;
    /* margin: auto; */
    aspect-ratio: 3/4; 
    width: auto;
    max-height: 85vh;
    object-fit: cover;
    display: block;
    border: 3px solid #585858;
    margin: 0;  
}

.left-column,
.right-column {
    flex: 1;  
    display: flex;
    flex-direction: column;
}

.text-boxes {
    gap: 2em;
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.text-box {
    border: 3px solid #585858;
    border-radius: 10px;
    padding: 1em
}

.hidden {
    display: none;
}

.coll-content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s ease;
    background-color:#e9e3e3;
}


.text-box button:active {
    background-color:#e9e3e3;
}

.text-box button {
    transition: none !important;
    background-color:#e9e3e3;
}